rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Accès au document principal de l'utilisateur
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Accès à toutes les sous-collections (ex: /users/ID/projets/123)
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

  }
}
